<a href="https://colab.research.google.com/github/alejandronatale21051986/ArticuloN1_UVA_UVIS_DOLAR_BLUE/blob/main/pandas_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tutorial de Pandas en Español

Este tutorial va de la mano con un blog que publiqué en Platzi: [Tutorial de Pandas](https://platzi.com/blog/pandas)

[<img src="/work/images/pandas-logo.png" width="350" />](https://pandas.pydata.org/)

Se lo importa con la siguiente convención:

In [1]:
import pandas as pd

## DataFrame

### Crear un DataFrame con Python

#### 1) Diccionario de listas (columna por columna)

In [2]:
football_dict = {
    "player": ["Lionel Messi", "Cristiano Ronaldo"],
    "year": [2016, 2016],
    "goals": [37, 25],
}
football_stats = pd.DataFrame(football_dict)
print(football_stats)

              player  year  goals
0       Lionel Messi  2016     37
1  Cristiano Ronaldo  2016     25

#### 2) Lista de diccionarios (fila por fila)

In [3]:
football_list = [
    {"player": "Lionel Messi", "year": 2016, "goals": 37},
    {"player": "Cristiano Ronaldo", "year": 2016, "goals": 25},
]
football_stats = pd.DataFrame(football_list)
print(football_stats)

              player  year  goals
0       Lionel Messi  2016     37
1  Cristiano Ronaldo  2016     25

## Importar datos

### Base de datos

Usaremos una base de datos de las 5 ligas top de Europa entre los años 2014 y 2020.
> Fuente: [Kaggle](https://www.kaggle.com/shushrutsharma/top-5-football-leagues?select=Fullmetadata.csv)

### Importar csv

`pd.read_csv('path/file.csv')`

In [4]:
url = 'https://raw.githubusercontent.com/alejandronatale21051986/Tutoriales/main/football_stats.csv'
df = pd.read_csv(url, sep=",")
df

,player_id,player_name,year,games,goals,npg,shots,assists,yellow_cards,red_cards,position,team_name,time
0,8865,Ollie Watkins,2020,9,6,5,22,1,0,0,F,Aston Villa,810
1,675,Jack Grealish,2020,9,5,5,26,5,2,0,F M,Aston Villa,810
2,592,Ross Barkley,2020,6,2,2,17,1,0,0,M,Aston Villa,454
3,1024,Tyrone Mings,2020,9,2,2,7,1,2,0,D,Aston Villa,810
4,7726,Ezri Konsa Ngoyo,2020,9,2,2,7,0,0,0,D,Aston Villa,810
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18628,4267,Florian Hartherz,2014,10,0,0,1,2,1,1,D S,Paderborn,775
18629,4268,Christian Strohdiek,2014,22,0,0,6,0,2,0,D S,Paderborn,1608
18630,4311,Idir Ouali,2014,6,0,0,4,0,1,0,M S,Paderborn,296
18631,4334,Mirnes Pepic,2014,2,0,0,0,0,0,0,S,Paderborn,20
18632,4363,Thomas Bertels,2014,1,0,0,0,0,0,0,S,Paderborn,3

Importar con una columna como índice

In [5]:

df = pd.read_csv(url, index_col='player_id',sep=",")
print(df)

                   player_name  year  games  goals  npg  shots  assists  \
player_id
8865             Ollie Watkins  2020      9      6    5     22        1
675              Jack Grealish  2020      9      5    5     26        5
592               Ross Barkley  2020      6      2    2     17        1
1024              Tyrone Mings  2020      9      2    2      7        1
7726          Ezri Konsa Ngoyo  2020      9      2    2      7        0
...                        ...   ...    ...    ...  ...    ...      ...
4267          Florian Hartherz  2014     10      0    0      1        2
4268       Christian Strohdiek  2014     22      0    0      6        0
4311                Idir Ouali  2014      6      0    0      4        0
4334              Mirnes Pepic  2014      2      0    0      0        0
4363            Thomas Bertels  2014      1      0    0      0        0

           yellow_cards  red_cards position    team_name  time
player_id
8865                  0          0        F  Aston Villa   810
675                   2          0      F M  Aston Villa   810
592                   0          0        M  Aston Villa   454
1024                  2          0        D  Aston Villa   810
7726                  0          0        D  Aston Villa   810
...                 ...        ...      ...          ...   ...
4267                  1          1      D S    Paderborn   775
4268                  2          0      D S    Paderborn  1608
4311                  1          0      M S    Paderborn   296
4334                  0          0        S    Paderborn    20
4363                  0          0        S    Paderborn     3

[18633 rows x 12 columns]

In [6]:
url2 = 'https://raw.githubusercontent.com/alejandronatale21051986/Tutoriales/main/football_stats.csv'
df = pd.read_csv(url2, sep=",")
df

,player_id,player_name,year,games,goals,npg,shots,assists,yellow_cards,red_cards,position,team_name,time
0,8865,Ollie Watkins,2020,9,6,5,22,1,0,0,F,Aston Villa,810
1,675,Jack Grealish,2020,9,5,5,26,5,2,0,F M,Aston Villa,810
2,592,Ross Barkley,2020,6,2,2,17,1,0,0,M,Aston Villa,454
3,1024,Tyrone Mings,2020,9,2,2,7,1,2,0,D,Aston Villa,810
4,7726,Ezri Konsa Ngoyo,2020,9,2,2,7,0,0,0,D,Aston Villa,810
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18628,4267,Florian Hartherz,2014,10,0,0,1,2,1,1,D S,Paderborn,775
18629,4268,Christian Strohdiek,2014,22,0,0,6,0,2,0,D S,Paderborn,1608
18630,4311,Idir Ouali,2014,6,0,0,4,0,1,0,M S,Paderborn,296
18631,4334,Mirnes Pepic,2014,2,0,0,0,0,0,0,S,Paderborn,20
18632,4363,Thomas Bertels,2014,1,0,0,0,0,0,0,S,Paderborn,3

In [7]:
df = pd.read_csv(url2, index_col='player_id')
df

,player_name,year,games,goals,npg,shots,assists,yellow_cards,red_cards,position,team_name,time
player_id,,,,,,,,,,,,
8865,Ollie Watkins,2020,9,6,5,22,1,0,0,F,Aston Villa,810
675,Jack Grealish,2020,9,5,5,26,5,2,0,F M,Aston Villa,810
592,Ross Barkley,2020,6,2,2,17,1,0,0,M,Aston Villa,454
1024,Tyrone Mings,2020,9,2,2,7,1,2,0,D,Aston Villa,810
7726,Ezri Konsa Ngoyo,2020,9,2,2,7,0,0,0,D,Aston Villa,810
...,...,...,...,...,...,...,...,...,...,...,...,...
4267,Florian Hartherz,2014,10,0,0,1,2,1,1,D S,Paderborn,775
4268,Christian Strohdiek,2014,22,0,0,6,0,2,0,D S,Paderborn,1608
4311,Idir Ouali,2014,6,0,0,4,0,1,0,M S,Paderborn,296
4334,Mirnes Pepic,2014,2,0,0,0,0,0,0,S,Paderborn,20
4363,Thomas Bertels,2014,1,0,0,0,0,0,0,S,Paderborn,3

## Inspeccionar un DataFrame

- `df.head()` → retorna las 5 primeras filas. También le puedes pasar un entero como parámetro y te devolverá esa cantidad de primeras filas.
- `df.tail()` → retorna las últimas 5 filas del dataset.
- `df.sample()` → es parecido a los 2 anteriores, pero este tomará muestras al azar del DataFrame.
- `df.shape` → retorna las filas y columnas que tiene el DataFrame.
- `df.size` → multiplica las filas y columnas y te da el total de datos del DataFrame.
- `df.info()` → este es genial, te da la cuenta de valores no nulos, el tipo de dato de cada columna (recuerda que solo puede haber un único tipo de dato por columna) y el uso de memoria. Cuando estés procesando los datos, será un gran aliado.
- `df.describe()` → te ayudará mucho con las primeras impresiones de los datos. Calcula algunas estadísticas descriptivas para cada columna.

In [8]:
print(df.sample(8))

                  player_name  year  games  goals  npg  shots  assists  \
player_id
412                André Hahn  2015     15      8    7     26        1
6228               Luka Jovic  2018     32     17   16     96        5
5737       Saif-Eddine Khaoui  2020      2      0    0      1        0
2855            Facundo Píriz  2018      6      0    0      0        0
4052             Ximo Navarro  2018     31      2    2     13        2
960        Clinton N&#039;Jie  2016     22      4    4     27        1
1588              Raúl Albiol  2017     31      3    3     17        1
1382            José Callejón  2015     38      7    7     60        7

           yellow_cards  red_cards position            team_name  time
player_id
412                   1          0      F S  Borussia M.Gladbach   738
6228                  1          0    F M S  Eintracht Frankfurt  2256
5737                  1          0        S            Marseille    22
2855                  0          0        S          Montpellier   104
4052                  7          0      D S               Alaves  2528
960                   1          0    F M S            Marseille  1028
1588                  6          0      D S               Napoli  2745
1382                  4          0      F S               Napoli  2848

In [9]:
print(df.shape)

(18633, 12)

In [10]:
print(df.size)

223596

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18633 entries, 8865 to 4363
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   player_name   18633 non-null  object
 1   year          18633 non-null  int64
 2   games         18633 non-null  int64
 3   goals         18633 non-null  int64
 4   npg           18633 non-null  int64
 5   shots         18633 non-null  int64
 6   assists       18633 non-null  int64
 7   yellow_cards  18633 non-null  int64
 8   red_cards     18633 non-null  int64
 9   position      18633 non-null  object
 10  team_name     18633 non-null  object
 11  time          18633 non-null  int64
dtypes: int64(9), object(3)
memory usage: 1.8+ MB
None

In [12]:
df.describe()

,year,games,goals,npg,shots,assists,yellow_cards,red_cards,time
count,18633.000000,18633.000000,18633.000000,18633.000000,18633.000000,18633.000000,18633.000000,18633.000000,18633.000000
mean,2016.937691,17.072291,1.624054,1.478399,15.323888,1.138088,2.453979,0.127569,1207.483282
std,1.976606,11.375527,3.252418,2.891849,20.934645,1.936238,2.685745,0.370656,975.753086
min,2014.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2015.000000,7.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,326.000000
50%,2017.000000,16.000000,0.000000,0.000000,8.000000,0.000000,2.000000,0.000000,976.000000
75%,2019.000000,27.000000,2.000000,2.000000,21.000000,2.000000,4.000000,0.000000,2004.000000
max,2020.000000,38.000000,48.000000,38.000000,227.000000,20.000000,17.000000,5.000000,3420.000000

## Ordenar los datos

In [13]:
#ordeno df por goles 
df.sort_values('goals', ascending=False)

,player_name,year,games,goals,npg,shots,assists,yellow_cards,red_cards,position,team_name,time
player_id,,,,,,,,,,,,
2371,Cristiano Ronaldo,2014,35,48,38,225,16,5,1,F M,Real Madrid,3103
2097,Lionel Messi,2014,38,43,38,187,18,4,0,F S,Barcelona,3374
2098,Luis Suárez,2015,35,40,37,137,16,6,0,F,Barcelona,3150
1741,Zlatan Ibrahimovic,2015,31,38,33,155,13,1,0,F S,Paris Saint Germain,2553
2097,Lionel Messi,2016,34,37,31,179,9,6,0,F M S,Barcelona,2832
...,...,...,...,...,...,...,...,...,...,...,...,...
589,James McCarthy,2017,4,0,0,1,0,0,0,M S,Everton,210
593,Aaron Lennon,2017,15,0,0,4,0,0,0,F M S,Everton,800
595,Kevin Mirallas,2017,5,0,0,4,0,1,0,F M S,Everton,140
597,Ramiro Funes Mori,2017,4,0,0,1,0,1,0,D S,Everton,119
4363,Thomas Bertels,2014,1,0,0,0,0,0,0,S,Paderborn,3

In [14]:
print(df.sort_values(['team_name', 'goals','year'], ascending=[True, False,True]).head(3))

            player_name  year  games  goals  npg  shots  assists  \
player_id
1125       Carlos Bacca  2015     38     18   16     77        2
2014       Jérémy Menez  2014     33     16    8     78        4
1125       Carlos Bacca  2016     32     13    9     56        3

           yellow_cards  red_cards position team_name  time
player_id
1125                  2          0      F S  AC Milan  3179
2014                  3          1    F M S  AC Milan  2713
1125                  3          0      F S  AC Milan  2152

## Subconjuntos y filtros de datos

### Subsetting columns

In [15]:
df['team_name'].unique()

array(['Aston Villa', 'Everton', 'Southampton', 'Leicester',
       'West Bromwich Albion', 'Crystal Palace', 'Chelsea', 'West Ham',
       'Tottenham', 'Arsenal', 'Newcastle United', 'Liverpool',
       'Manchester City', 'Manchester United', 'Burnley', 'Brighton',
       'Fulham', 'Wolverhampton Wanderers', 'Sheffield United', 'Leeds',
       'Sevilla', 'Real Sociedad', 'Getafe', 'Atletico Madrid',
       'Valencia', 'Athletic Club', 'Barcelona', 'Real Madrid', 'Levante',
       'Celta Vigo', 'Real Betis', 'Villarreal', 'Granada', 'Eibar',
       'Osasuna', 'Alaves', 'Elche', 'Real Valladolid', 'SD Huesca',
       'Cadiz', 'Verona', 'Roma', 'Lazio', 'Bologna', 'Juventus',
       'Udinese', 'Genoa', 'Sampdoria', 'Sassuolo', 'Napoli', 'Inter',
       'Atalanta', 'Fiorentina', 'AC Milan', 'Torino', 'Crotone',
       'Cagliari', 'Benevento', 'Parma Calcio 1913', 'Spezia', 'Lille',
       'Paris Saint Germain', 'Rennes', 'Marseille', 'Montpellier',
       'Angers', 'Nantes', 'Nice', 'Monaco', 'Saint-Etienne', 'Bordeaux',
       'Reims', 'Lyon', 'Lorient', 'Metz', 'Dijon', 'Lens', 'Strasbourg',
       'Nimes', 'Brest', 'Bayern Munich', 'Bayer Leverkusen',
       'Hoffenheim', 'Augsburg', 'Hertha Berlin', 'Werder Bremen',
       'Schalke 04', 'Mainz 05', 'Borussia Dortmund',
       'Borussia M.Gladbach', 'Wolfsburg', 'Eintracht Frankfurt',
       'VfB Stuttgart', 'FC Cologne', 'Freiburg',
       'RasenBallsport Leipzig', 'Union Berlin', 'Arminia Bielefeld',
       'Bournemouth', 'Norwich', 'Watford', 'Espanyol', 'Leganes',
       'Mallorca', 'SPAL 2013', 'Brescia', 'Lecce', 'Toulouse', 'Amiens',
       'Paderborn', 'Fortuna Duesseldorf', 'Huddersfield', 'Cardiff',
       'Rayo Vallecano', 'Girona', 'Empoli', 'Chievo', 'Frosinone',
       'Caen', 'Guingamp', 'Hannover 96', 'Nuernberg', 'Swansea', 'Stoke',
       'Malaga', 'Deportivo La Coruna', 'Las Palmas', 'Troyes',
       'Hamburger SV', 'Sunderland', 'Hull', 'Middlesbrough',
       'Sporting Gijon', 'Palermo', 'Pescara', 'SC Bastia', 'Nancy',
       'Ingolstadt', 'Darmstadt', 'Carpi', 'GFC Ajaccio',
       'Queens Park Rangers', 'Cordoba', 'Almeria', 'Cesena', 'Parma',
       'Evian Thonon Gaillard'], dtype=object)

### Filtrar filas

In [16]:
df[df.player_name=='Aaron Connolly']

,player_name,year,games,goals,npg,shots,assists,yellow_cards,red_cards,position,team_name,time
player_id,,,,,,,,,,,,
7991,Aaron Connolly,2020,8,1,1,9,1,0,0,F S,Brighton,425
7991,Aaron Connolly,2019,24,3,3,36,1,0,0,F S,Brighton,1279

In [17]:
df[df['player_name']=='Aaron Connolly']

,player_name,year,games,goals,npg,shots,assists,yellow_cards,red_cards,position,team_name,time
player_id,,,,,,,,,,,,
7991,Aaron Connolly,2020,8,1,1,9,1,0,0,F S,Brighton,425
7991,Aaron Connolly,2019,24,3,3,36,1,0,0,F S,Brighton,1279

In [18]:
df.query('player_name == "Aaron Connolly"')

,player_name,year,games,goals,npg,shots,assists,yellow_cards,red_cards,position,team_name,time
player_id,,,,,,,,,,,,
7991,Aaron Connolly,2020,8,1,1,9,1,0,0,F S,Brighton,425
7991,Aaron Connolly,2019,24,3,3,36,1,0,0,F S,Brighton,1279

#### Uniendo lo aprendido

In [19]:
# Goles de Cristiano Ronaldo en 2014
cr7 = df[(df.player_name == 'Cristiano Ronaldo') & (df.year == 2014)]
cols = ['player_name', 'year', 'goals']
#print(cr7[cols])
print(cr7[cols])

                 player_name  year  goals
player_id
2371       Cristiano Ronaldo  2014     48

In [20]:
# Goles de Ronaldo, Messi y Suárez en 2015
players = ['Cristiano Ronaldo', 'Lionel Messi', 'Luis Suárez']
top_players = df[(df.player_name.isin(players)) & (df.year == 2015)]
print(top_players[cols])

                 player_name  year  goals
player_id
2098             Luis Suárez  2015     40
2097            Lionel Messi  2015     26
2371       Cristiano Ronaldo  2015     35

### Subsetting con .loc

In [21]:
# Goles de Ronaldo, Messi y Suárez en 2015
df = df.reset_index()
df = df.set_index('player_name')
players = ['Cristiano Ronaldo', 'Lionel Messi', 'Luis Suárez']
cols = ['year', 'goals']
top_players = df.loc[players, cols]
print(top_players.query('year==2015'))

                   year  goals
player_name
Cristiano Ronaldo  2015     35
Lionel Messi       2015     26
Luis Suárez        2015     40

## Aplicar funciones a un DataFrame

- `.sum()` → suma todos los valores de una columna.
- `.mean()` → promedio de los valores de una columna.
- `.max()` → valor máximo de una columna.
- `.min()` → valor mínimo de una columna.
- `.cumsum()` → en cada fila va poniendo la suma acumulada de una columna.
- `.cummax()` → en cada fila va poniendo el valor máximo encontrado en orden de una columna.
- `.value_counts(sort=True)` → cuenta los distintos valores que existen en una columna (muy útil para contar categorías) y los ordena descendientemente.
- `.drop_duplicates(subset='col_name')` → elimina duplicados en una columna.

También es posible pasar funciones que nosotros mismos hayamos creado u otras funciones importadas de otras librerías. Para ello se usa `.agg(function)`.

In [29]:
# Máxima cantidad de goles hechas por un jugador en una temporada

max_goals = df['goals'].max()
cols = ['goals', 'year', 'team_name']
print(df[df.goals == max_goals][cols])

                   goals  year    team_name
player_name
Cristiano Ronaldo     48  2014  Real Madrid

In [30]:
# Porcentaje de disparos al arco que terminan en gol
total_shots = df['shots'].sum()
total_goals = df['goals'].sum()
print(round(total_goals / total_shots * 100, 2))

10.6

## Agrupar datos

- `df.groupby()`

In [33]:
# Top 10 jugadores que más goles han marcado
#top_players = df.groupby('player_name')['goals'].sum()
top_players = df.groupby('player_name')['goals'].sum()
print(top_players.sort_values(ascending=False).head(10))

player_name
Lionel Messi                 205
Cristiano Ronaldo            194
Robert Lewandowski           174
Luis Suárez                  154
Harry Kane                   148
Pierre-Emerick Aubameyang    141
Sergio Agüero                128
Edinson Cavani               125
Ciro Immobile                119
Mohamed Salah                117
Name: goals, dtype: int64

In [25]:
# Top 5 equipos con más tarjetas rojas y amarillas
red_cards = df.groupby('team_name')[['red_cards', 'yellow_cards']].sum()
print(red_cards.sort_values('red_cards', ascending=False).head())

           red_cards  yellow_cards
team_name
AC Milan          43           513
Genoa             42           562
Valencia          39           598
Bologna           38           477
Lazio             35           576

## Crear columnas

In [36]:
df['goals_assists'] = df.goals + df.assists
best_players = df.groupby('player_name')['goals_assists'].sum()
print(best_players.sort_values(ascending=False).head())

player_name
Lionel Messi          293
Cristiano Ronaldo     246
Luis Suárez           224
Robert Lewandowski    203
Harry Kane            178
Name: goals_assists, dtype: int64

# Ejercicios

1. Usa `df.describe()` y cuéntanos todos los insights que te dio y qué podría significar cada uno.
2. Encuentra la cantidad de goles totales hechos por cada posición.
3. ¿Cuál es el jugador que más tiempo ha jugado y cuál es la media de tiempo de todos los jugadores? *Esta pregunta tiene truco porque hay muchos jugadores suplentes que no juegan casi nunca y van a sesgar los datos, ¿cómo podrías solucionar esto?*
4. ¿Qué posición es la que más tiempo juega? ¿Y la que menos?
5. ¿Qué porcentaje de goles son hechos por penales? *La columna* `npg` *significa: goles hechos SIN penales.*
6. ¿Qué porcentaje de goles son hechos con asistencias?
7. ¿Cuál fue el equipo que más goles hizo cada año? ¿Salió campeón ese año?
8. ¿Cuántos jugadores jugaron todos los años del dataset? ¿Qué porcentaje del total representan?

In [37]:
# Aquí tu súper código. ¡Tú puedes!

In [49]:
goals_by_team_by_year = df.groupby(["year","team_name"])["goals"].sum()
goals_by_team_by_year.sort_values(ascending=False).reset_index().drop_duplicates('year')
#->.drop_duplicates('year') elimina todos los años quye sean igual numero  del mismo equipo
#->reset_index()permite rsetear el indíce a como lo tenia por deafult 0 ,1,2 i me los pondra en una columna

     year            team_name  goals
0    2014          Real Madrid    116
1    2016            Barcelona    114
2    2015            Barcelona    109
6    2018  Paris Saint Germain    103
8    2017      Manchester City    103
11   2019      Manchester City    100
492  2020        Bayern Munich     34

# Regalos 🎁

Estos regalos son muy especiales porque no solo te ayudarán ahora, sino que te abrirán un nuevo camino que podrás usar el resto de tu vida.

Primero, como no podía faltar, el cheat sheet de todos los comandos de Pandas:
- [Cheat Sheet de Pandas](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)

Y ahora, te abriré la puerta al mundo de los datasets. Te dejaré algunos lugares donde podrás conseguir datasets de todo lo que te puedas imaginar para que apliques todos tus conocimientos y los añadas a tu [propio portafolio](https://platzi.com/blog/deepnote).
- [Kaggle](https://www.kaggle.com/datasets): este es un sitio especial para data scientists que tiene MUCHOS datasets y competiciones para que apliques tus conocimientos.
- [Awesome Public Datasets](https://github.com/awesomedata/awesome-public-datasets): es un repositorio de GitHub que compiló un montón datasets públicos y los ordernó por categorías. Podrías usarlos como base para tus futuros proyectos de portafolio.
- [Datsets Seearch](https://datasetsearch.research.google.com/): Google tiene su propio buscador de datasets, prueba encontrar lo que necesitas aquí.

¡Has aprendido un montón, me llenas de orgullo! 💪

Me encantaría leer tus respuestas y comentarios en el [blog](https://platzi.com/blog/pandas) 💚

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=d21a300b-571d-4704-b81e-a7ba553b185a' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>